
.background-style {
  background-image: linear-gradient(to right top, #120f12, #131013, #141014, #141114, #151115, #161114, #171113, #171112, #161110, #15120f, #13120f, #111210);
  height: 100%;
}
.text-link-color {
  color: #ffff !important;
}
.black-color{
    color: black;
}
.horizantel-line{
    width: 70px;
    margin: 0 auto;
    color: red;
}
